body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

body > header {
    color: white;
    background-color: hotpink;
}

#logo 

#main-nav a{
    color: floralwhite;
    text-decoration: none;
}